<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if block('title') is defined %}
            {% set _title = block('title') %}
            {% if _title is not empty %}
                {{ _title|raw }} |
            {% endif %}
        {% endif %}
        {# TODO Update template name #}
        R-MAX
    </title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-gray-300">
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }

        .main-header{grid-area:header;padding-bottom: 30px}
    </style>
</head>
<body>

{% for type, messages in app.flashes('success') %}
    {% for message in messages %}
        <div class="alert alert-success">
            <p>{{ message|trans|raw }}</p>
            <button type="button" class="float-right text-2xl" onclick="this.closest('div').style.display='none'">
                &times;
            </button>
        </div>
    {% endfor %}
{% endfor %}

{% for type, messages in app.flashes('danger') %}
    {% for message in messages %}
        <div class="alert alert-danger">
            <p>{{ message|trans|raw }}</p>
            <button type="button" class="float-right text-2xl" onclick="this.closest('div').style.display='none'">
                &times;
            </button>
        </div>
    {% endfor %}
{% endfor %}

{% block body %}{% endblock %}
</body>
</html>
